<!--
hackido - 2020 - por jero98772
hackido - 2020 - by jero98772
-->
<!DOCTYPE html>
<html>
<head>
	<title>hackido</title>
</head>
<body>
	{% set problemaPassword = "Error 4 la contraseña que ingreso no es valida vuelve a intentar" %}
	{% set problemaVacio = "Error 3 no te puedes registrar si los campos requeridos estan vacios" %}
	{% set registroOk = "su registro se completo exitosamente" %}
	<form method="post">
		<center>
			<br>
			<br>
			<div style="width: 50%;">
				<p>
					<h1>
						ingrese
					</h1>
				</p>
				<p style="background-color:Tomato;">
					{% if problemaVacio == mensaje %}
						{{ mensaje }}
					{% endif %}
				</p>
				<p>
					<h2>
						nombre de usuario
					</h2>
				</p>
				<input type="text" name="userName" required>
				<p>
					<h2>
						Contraseña
					</h2> 
				</p>
				<input type="password" name="password" required>
				<p style="background-color:Tomato;">
					{% if problemaPassword == mensaje %}
						{{ mensaje }}
						<a href="/preregistro.html"> recuperar contraseña [trabanjando en ello /mientras te redirecionara a preregistro gracias por su comprencion]</a>
					{% endif %}
				</p>
				<p>
					cuando pongas todo has click en login
				</p>
				<input type="submit" value="login">
				<p style="background-color:DodgerBlue;">
					{% if registroOk == mensaje %}
						{{ mensaje }}
					{% endif %}
				</p>
				<p>
					<a href="/registrarse.html">crear cuenta</a>
				</p>
			</div>
		</center>
	</form>
</body>
</html>