<!--
hackido - 2020 - por jero98772
hackido - 2020 - by jero98772
-->
<!DOCTYPE html>
<html>
<head>
	<title>hackido</title>
</head>
<body>
	<center>
		<div style="font-size: 100% ;width: 75%;">
			<h1>
				<p>
					los datos que seran pedidos al usuario para un mejor uso del programa , estos datos seran almacenados y protegidos y cifrados
				</p>
				<p>
					para el registro se pediran datos como nombre de usuario y contraseña
				</p>
			</h1>
		</div>
		<div style="width: 50%;">
			<h3>
				 (preferiblemente no use la misma contraseña que en otros lugares , la contraseña es para garantisar que usted si sea usted)(nombre de usuario no significa su nombre y apellido , no es muy util su nombre por que muchas personas tienen nombres paracedios o lo conocen a usted y esto se puede presentarse para problemas , espreferible un sobrenombre )
			</h3>
			<p>
				ya te puedes registrar ,esto es lo que llaman las condiciones y terminos de uso y la politica de privacidad
			</p> 
		</div>
		<div style="font-size: 100% ;width: 75%;">
			<h1>
				<a href="/registrarse.html">
					ya si te puedes registrar
				</a>
			</h1>
		</div>
	</center>
</body>
</html>